:root {
  --colorHijau: #06a73b;
  --colorRed: #f44336;
  --colorOrange: #fdc04e;
  --colorStart: #ffc300;
  --colorOren: #fcd980;
  --colorKuning: #fbff00;
  --colorPrimary: #001aff;
  --colorBG: #fbfada;
  --colorBlue: #4582ff;
  --colorGreen: #00d6d3;
  --colorBlack: #0f2239;
  --paraColor: #636363;
  --ratingColor: #f1cc38;
  --colorWhite: #ffffff;
  --colorSidebar: #9197b3;
  --colorUngu: #1e0342;
  --colorBiru: #f4f7fe;
  --colorBlueSide: #1c1e53;
  --colorBgDashboard: #ededed;
  --colorBgSearch: #f0f4ff;
  --colorBgRoom: #f4f6fc;
  --colorNavTeacher: #0d92f4;
  --colorSideTeacher: #0d92f4;
  --paraFont: 'Rubik', sans-serif;
  --headingFont: 'Montserrat', sans-serif;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



/* ===== TOAST START ===== */
.bs-toast {
  top: 60px;
  left: 45%;
  z-index: 1050;
}

.bg-light-success {
  background-color: #28a745 !important;
}
/* ===== TOAST END ===== */



/* ===== NAV SA START ===== */

.navbg-sa #content {
  margin-left: 270px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}
.navbg-sa .ul ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.navbg-sa .platform {
  display: inline-block;
  width: 80px;
}
.c-close {
  margin-top: -30px !important;
  margin-right: -10px !important;
}

.navbg-sa {
  background: #ffffff;
  height: auto;
  min-height: 100vh;
  width: 100vw;
}
/* ===== NAV SA END ===== */

/* ==== PAGINATION SA ==== */
.dashboard-sa .pagination {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.dashboard-sa .pagination .page-item {
  display: inline-block;
}
.dashboard-sa .pagination .page-link {
  border-radius: 10%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  background: none;
  color: black;
  border: none;
}
.dashboard-sa .pagination .page-item.active .page-link {
  background-color: rgba(13, 146, 244, 1);
  color: black;
}
.dashboard-sa .pagination .page-item:not(.active) .page-link {
  color: black;
}
.dashboard-sa .pagination .page-item.disabled  .page-link {
  background-color: transparent;
  color: black;
  cursor: default;
}
.dashboard-sa .pagination .page-link:hover {
  background-color: rgba(13, 146, 244, 1);
}
/* ==== PAGINATION SA ==== */